<ion-content [fullscreen]="true">
  <ion-list-header mode="ios">
    <ion-label mode="ios">About</ion-label>
  </ion-list-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list mode="md">
          <ion-item lines="full" mode="md">
            <p><strong>Application Name: </strong><br><br>Rick and Morty Wiki</p>
          </ion-item>
        </ion-list>
        <ion-list mode="md">
          <ion-item lines="full" mode="md">
            <p><strong>Version Name: </strong><br><br>1.0.0</p>
          </ion-item>
        </ion-list>
        <ion-list mode="md">
          <ion-item lines="full" mode="md">
            <p><strong>Description: </strong><br><br>Find information about your favorite Rick and Morty character.</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>