<ion-content [fullscreen]="true">

  <!-- Back button with a default href -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
      <ion-title>Character Name</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let character of results">
    <!-- Default List Header -->
    <ion-list-header>
      <ion-label>{{character.id}}</ion-label>
    </ion-list-header>
  </ion-list>
</ion-content>