<ion-content [fullscreen]="true">

  <!-- Header -->
  <ion-list-header mode="ios">
    <ion-label mode="ios">Characters</ion-label>
  </ion-list-header>

  <!-- Toolbar -->
  <ion-toolbar mode="ios" [hidden]=hidden *ngIf="search">
    <ion-title size="large">{{search}}</ion-title>
  </ion-toolbar>

  <!-- Searchbar -->
  <ion-searchbar animated autocomplete="on" autocorrect="on" placeholder="Search for character.." mode="ios"
    [(ngModel)]="search" (ionInput)="filterList($event)" showCancelButton=" focus" cancelButtonText="">
  </ion-searchbar>

  <!-- Skeleton List of Characters -->
  <ion-list *ngIf="results.length == 0">
    <ion-item *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" detail lines=" full" mode="md">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h2>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- List of Characters -->
  <ion-list *ngFor="let character of results" mode="md">
    <ion-item button [routerLink]="['/character/' + character.id]" detail lines=" full" mode="md">
      <ion-thumbnail slot="start">
        <img src={{character.image}}>
      </ion-thumbnail>
      <ion-label mode="md">
        <h2><strong>{{character.name}}</strong></h2>
        <p>{{character.location.name}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>